@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

/* ROOT */
:root {
	--border-light: #616166;
	--border-dark: #272729;
	--grey: #292a2b;
	--dark-grey: #121213;
	--correct: #538d4e;
	--present: #b59f3b;
	--absent: #3a3a3c;

	--color-shade-1: #eee3e3;
	--color-shade-2: #bbb0b1;
	--color-shade-3: #8a8181;
	--color-shade-4: #5d5454;
	--color-shade-5: #332b2b;
	--color-shade-6: #282121;

	--max-game-width: 500px;
	
	font-family: Arial, sans-serif;

	-webkit-user-select: none;
	user-select: none;

	touch-action: manipulation;
}

*:focus {
    outline: none;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	overflow: hidden;
	background-color: var(--dark-grey)
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0px;
	color: #ffffff;
	font-family: 'Segoe UI', Arial;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px 12px;
}

p {
	padding: 0px 12px;

	font-size: 20px;
}

li {
	padding: 5px 0px;

	font-size: 17px;
}

a:link, a:any-link, a:-webkit-any-link, a:visited, a:active {
	color: #09e674;
}

header {
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #616161;
}

/* CONTAINER */
.container {
	display: flex;
	flex-direction: column;
}

/* TITLE */
#title {
	height: 40px;
	padding: 10px 0px;
}

/* INPUT LETTERS */
.game {
	width: 400px;
	display: flex;
	flex-grow: 1;
	align-self: center;
	align-items: center;
	justify-content: center;
}

.input-letters {
	width: 100%;
	height: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.letter-row {
	--border-width: 3px;
	--row-gap: 5px;
	height: calc(100%/6 - var(--row-gap));
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.letter-box {
	width: calc(20% - calc(var(--border-width)*2) - var(--row-gap));
	border: solid var(--border-width) var(--border-dark);

	display: flex;
	align-items: center;
	justify-content: center;
	
	text-transform: uppercase;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: min(4vh, 58px);
	color: #ffffff;
}

.flip {
	animation-name: flip;
	animation-duration: 0.25s;
	animation-direction: alternate;
	animation-iteration-count: 2;
	animation-timing-function: linear;
}

@keyframes flip {
	from { transform: rotateX(0deg); }
	to { transform: rotateX(90deg); }
}

.pop {
	animation-name: pop;
	animation-duration: 0.05s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

@keyframes pop {
	from { transform: scale(1.0); }
	to { transform: scale(1.3); }
}

.shake-0 {
	animation-name: shake-0;
	animation-duration: 0.05s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

.shake-1 {
	animation-name: shake-1;
	animation-duration: 0.05s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

@keyframes shake-0 {
	0% { transform: translate(0px, 0px); }
	50% { transform: translate(-1rem, 0px); }
	100% { transform: translate(1rem, 0px); }
}

@keyframes shake-1 {
	0% { transform: translate(0px, 0px); }
	50% { transform: translate(-1rem, 0px); }
	100% { transform: translate(1rem, 0px); }
}

.bounce {
	animation-name: bounce;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(.19,.08,1,.87);
}

@keyframes bounce {
	16.5% { transform: translateY(-20px); }
	33% { transform: translateY(14px); }
	49.5% { transform: translateY(-12px); }
	66% { transform: translateY(0px); }
	82.5% { transform: translateY(5px); }
	100% { transform: translateY(0px); }
}

/* KEYBOARD */
.keyboard {
	max-width: var(--max-game-width);
	padding: 6px 0px;
	
	display: flex;
	flex-direction: column;
	align-self: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row-one {
	margin-bottom: 6px;
}

.row-three {
	margin-top: 6px;
}

.key {
	width: 43px;
	height: 58px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: var(--color-shade-2);
	border: solid 2px var(--color-shade-5);
	border-radius: 6px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: var(--color-shade-6);
	
	cursor: pointer;
}

.dark-key {
	color: #ffffff;
	border: solid 2px hsl(0, 0%, 12%);
}

.key:hover {
	background-color: var(--color-shade-1);
	border: solid 2px var(--color-shade-4);
}

.key:active {
	filter: brightness(90%);
	background-color: var(--color-shade-1);
}

.misc-key {
	width: 50px;
	font-size: 12px;
	text-transform: none;
}

/* OVERLAY */
.overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: rgba(100, 100, 100, 20%);

	display: none;
	align-items: center;
	justify-content: center;
}

.screen {
	width: 260px;
	height: 380px;
	position: relative;
	background-color: var(--color-shade-4);
	border: inset 5px #47484e;
	border-radius: 12px;
	padding: 10px 0px;
	
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 10px;
}

.button {
	width: 240px;
	height: 60px;
	margin: 0px;
	background-color: #659252;
	border-radius: 6px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	
	cursor: pointer;

	outline: solid 0px;
	transform: translateY(0);
	transition: outline 0.05s, transform 0.1s;
}

.button:hover {
	outline: solid;
	transition: outline 0.1s;
}

.button:active {
	transform: translateY(2px);
	transition: outline 0.1s, transform 0.1s;
}

#info-screen, #contact-screen, #create-screen {
	width: 400px;
	height: fit-content;
}

.screen-button {
	color: #ffffff;
	font-size: 30px;
	
	cursor: pointer;
}

.close-button {
	position: absolute;
	top: 0;
	right: 0;
}

#hard-reset {
	position: absolute;
	bottom: 15px;

	background-color: var(--dark-grey);
	color: #d4cdcd;
	
	cursor: pointer;
}

/* MESSAGE DISPLAY */
.message-container {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	row-gap: 10px;

	pointer-events: none;
	background-color: transparent;
}

.popup {
	padding: 10px;
	border-radius: 12px;
	background-color: #ffffff;

	color: #121213;
	text-align: center;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.popup:nth-child(1) {
	margin-top: 10%;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.2s linear; /* wait til div is completely transparent, then hide */
}

/* CUSTOM WORD */
.custom-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 6px;
	border: solid 5px #1e1f20;
}

.create-row {
	--border-width: 3px;
	--row-gap: 5px;
	--box-size: 50px;
	width: 250px;
	height: calc(var(--box-size) - var(--row-gap));
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 5px;
	border-bottom: solid 5px #1e1f20;
}

.create-box {
	width: calc(var(--box-size) - calc(var(--border-width)*2) - var(--row-gap));
	border: solid var(--border-width) var(--color-shade-6);
	background-color: var(--color-shade-1);

	display: flex;
	align-items: center;
	justify-content: center;
	
	text-transform: uppercase;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
	color: #363434;
}

.tiny-keyboard {
	padding: 6px 0px 0px 0px;
	
	display: flex;
	flex-direction: column;
	align-self: center;
}

.tiny-key {
	width: 26px;
	height: 32px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: var(--color-shade-2);
	border: solid 2px var(--color-shade-5);
	border-radius: 6px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: var(--color-shade-6);
	
	cursor: pointer;
}

/* iPhone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	#title {
		height: 34px;
	}

	.game {
		width: 100%;
	}

	.keyboard {
		max-width: 100%;
		padding: 6px 0px;
	}

	#create-screen > p {
		font-size: 16px;
	}

	#hard-reset {
		bottom: 5px;
		font-size: 8px;
	}
}

/* iPhone 6+, 7+, and 8+ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	#title {
		height: 34px;
	}

	.game {
		width: 100%;
	}

	.keyboard {
		max-width: 100%;
		padding: 6px 0px;
	}

	#create-screen > p {
		font-size: 16px;
	}

	#hard-reset {
		bottom: 5px;
		font-size: 8px;
	}
}

@media (pointer:none), (pointer:coarse) {
	#title {
		height: 34px;
	}

	.game {
		width: 100%;
	}

	.keyboard {
		max-width: 100%;
		padding: 6px 0px;
	}

	#create-screen > p {
		font-size: 16px;
	}

	#hard-reset {
		bottom: 5px;
		font-size: 8px;
	}
}