@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

/* ROOT */
:root {
	--border-light: #616166;
	--border-dark: #272729;
	--grey: #292a2b;
	--dark-grey: #121213;
	--correct: #538d4e;
	--present: #b59f3b;
	--absent: #3a3a3c;

	--max-game-width: 500px;
	
	font-family: Arial, sans-serif;

	-webkit-user-select: none;
	user-select: none;

	touch-action: manipulation;
}

*:focus {
    outline: none;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	overflow: hidden;
	background-color: var(--dark-grey)
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0px;
	color: #ffffff;
	font-family: 'Segoe UI';
}

p {
	padding: 0px 12px;
	margin: 0px;

	font-size: 20px;
}

li {
	padding: 5px 0px;

	font-size: 17px;
}

a:link, a:any-link, a:-webkit-any-link, a:visited, a:active {
	color: #09e674;
}

header {
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #616161;
}

/* CONTAINER */
.container {
	display: flex;
	flex-direction: column;
}

/* TITLE */
#title {
	height: 40px;
	padding: 10px 0px;
}

/* INPUT LETTERS */
.game {
	width: 400px;
	display: flex;
	flex-grow: 1;
	align-self: center;
	align-items: center;
	justify-content: center;
}

.input-letters {
	width: 100%;
	height: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.letter-row {
	--border-width: 3px;
	--row-gap: 5px;
	height: calc(100%/6 - var(--row-gap));
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.letter-box {
	width: calc(20% - calc(var(--border-width)*2) - var(--row-gap));
	border: solid var(--border-width) var(--border-dark);

	display: flex;
	align-items: center;
	justify-content: center;
	
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: min(4vh, 58px);
	color: white;
}

.flip {
	animation-name: flip;
	animation-duration: 0.25s;
	animation-direction: alternate;
	animation-iteration-count: 2;
	animation-timing-function: linear;
}

@keyframes flip {
	from { transform: rotateX(0deg); }
	to { transform: rotateX(90deg); }
}

.pop {
	animation-name: pop;
	animation-duration: 0.05s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

@keyframes pop {
	from { transform: scale(1.0); }
	to { transform: scale(1.3); }
}

.shake-0 {
	animation-name: shake-0;
	animation-duration: 0.05s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

.shake-1 {
	animation-name: shake-1;
	animation-duration: 0.05s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

@keyframes shake-0 {
	0% { transform: translate(0px, 0px); }
	50% { transform: translate(-1rem, 0px); }
	100% { transform: translate(1rem, 0px); }
}

@keyframes shake-1 {
	0% { transform: translate(0px, 0px); }
	50% { transform: translate(-1rem, 0px); }
	100% { transform: translate(1rem, 0px); }
}

.bounce {
	animation-name: bounce;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(.19,.08,1,.87);
}

@keyframes bounce {
	16.5% { transform: translateY(-20px); }
	33% { transform: translateY(14px); }
	49.5% { transform: translateY(-12px); }
	66% { transform: translateY(0px); }
	82.5% { transform: translateY(5px); }
	100% { transform: translateY(0px); }
}

/* KEYBOARD */
.keyboard {
	max-width: var(--max-game-width);
	padding: 6px 0px;
	
	display: flex;
	flex-direction: column;
	align-self: center;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row-one {
	margin-bottom: 6px;
}

.row-three {
	margin-top: 6px;
}

.key {
	width: 43px;
	height: 58px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: hsl(0, 0%, 95%);
	border: solid 2px hsl(0, 0%, 60%);
	border-radius: 6px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 16px;
	font-weight: bold;
	text-align: center;
	
	cursor: pointer;
}

.dark-key {
	color: #ffffff;
	border: solid 2px hsl(0, 0%, 12%);
}

.key:hover {
	background-color: hsl(0, 0%, 85%);
	border: solid 2px hsl(0, 0%, 50%);
}

.key:active {
	background-color: hsl(0, 0%, 70%);
}

.misc-key {
	width: 50px;
	font-size: 12px;
}

.material-icons {
	font-size: 24px;
	line-height: 36px;	
}

/* OVERLAY */
.overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	margin: auto;
	background-color: rgba(100, 100, 100, 20%);

	display: none;
	align-items: center;
	justify-content: center;
}

.screen {
	width: 260px;
	height: 380px;
	position: relative;
	background-color: #707375;
	border: inset 5px #47484e;
	border-radius: 12px;
	padding: 10px 0px;
	
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 10px;
}

.button {
	width: 240px;
	height: 60px;
	margin: 0px;
	background-color: #377937;
	border-radius: 6px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	
	cursor: pointer;

	outline: solid 0px;
	transform: translateY(0);
	transition: outline 0.05s, transform 0.1s;
}

.button:hover {
	outline: solid;
	transition: outline 0.1s;
}

.button:active {
	transform: translateY(2px);
	transition: outline 0.1s, transform 0.1s;
}

#info-screen, #contact-screen, #stats-screen {
	width: 400px;
	height: 450px;
}

.screen-button {
	color: #ffffff;
	font-size: 30px;
	
	cursor: pointer;
}

.close-button {
	position: absolute;
	top: 0;
	right: 0;
}

/* MESSAGE DISPLAY */
.message-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	row-gap: 10px;

	pointer-events: none;
	background-color: transparent;
}

.popup {
	padding: 10px;
	border-radius: 12px;
	background-color: #ffffff;

	color: #121213;
	text-align: center;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.popup:nth-child(1) {
	margin-top: 10%;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.2s linear; /* wait til div is completely transparent, then hide */
}

/* iPhone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	#title {
		height: 34px;
	}

	.game {
		width: 100%;
	}

	.keyboard {
		max-width: 100%;
		padding: 6px 0px;
	}
}

/* iPhone 6+, 7+, and 8+ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	#title {
		height: 34px;
	}

	.game {
		width: 100%;
	}

	.keyboard {
		max-width: 100%;
		padding: 6px 0px;
	}
}

@media (pointer:none), (pointer:coarse) {
	#title {
		height: 34px;
	}

	.game {
		width: 100%;
	}

	.keyboard {
		max-width: 100%;
		padding: 6px 0px;
	}
}

/* @media screen and (max-width: 499px) {
	#title {
		height: 34px;
	}

	.game {
		width: 100%;
	}

	.keyboard {
		max-width: 100%;
		padding: 6px 0px;
	}
} */

/* @media screen and (max-width: 620px) {
	p {
		padding: 0px 7.5px;
		font-size: 12.5px;
	}

	.container {
		width: 250px;
	}

	.game {
		width: 250px;
	}

	.input-letters {
		width: 250px;
		grid-template-columns: repeat(5, 47.6px);
		column-gap: 3px;
		row-gap: 3px;
	}
	
	.letter-box {
		width: 41.6px;
		height: 41.6px;
		
		font-size: 31.5px;
		line-height: 41px;
	}
	
	#absent-letters {
		width: 112.5px;
		min-height: 45px;
		padding: 6.25px;
	}

	.absent-letter {
		width: 16.25px;
		height: 16.25px;
		margin: 1.25px;
		border: solid 1.875px var(--grey);

		font-size: 14px;
		line-height: 18px;
	}
	
	.settings {
		width: 125px;
	}
	
	.keyboard {
		width: 250px;
		padding: 3.75px 0px;
	}
	
	.key {
		width: 18.75px;
		height: 22.5px;
		margin-left: 1.875px;
		margin-right: 1.875px;
		
		font-size: 8.8px;
		line-height: 23px;
	}
	
	.misc-key {
		width: 31.25px;
		font-size: 7.5px;
	}
	
	.material-icons {
		font-size: 13.2px;
		line-height: 22.5px;
	}

	.screen {
		width: 162.5px;
		height: 268.75px;
		margin: 62.5px auto;
		padding: 6.25px 0px;
		row-gap: 6.25px;
	}

	#wordle {
		width: 150px;
		height: 18.75px;
		
		font-size: 12.5px;
	}

	.button {
		width: 150px;
		height: 37.5px;

		line-height: 37.5px;
		font-size: 21.8px;
	}

	#wordle-index {
		width: 70%;
		height: 25%;

		font-size: 33.75px;
	}

	#select-wordle-button {
		height: 12.5px;

		font-size: 10px;
		line-height: 14px;
	}

	.message-container {
		row-gap: 6.25px;
	}

	.popup {
		padding: 6.25px;
		border-radius: 7.5px;

		font-size: 12.5px;
	}

	.popup:nth-child(1) {
		margin-top: 33px;
	}
} */